body
{
    background-color: bisque;
}
#location
{
    background-color: aqua;
    border: 2px solid red;
    margin-top:50px;
    margin-left:50px;
   align-items: center;
   width: 30%;
   height:30%;   
}
.btn 
{
    cursor:pointer;
}
#table
{
    padding: 20px;
    width: 60%;
    border-collapse: collapse;
    
    
}
.popupbg{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 201, 201, 0.483);
    z-index: 999;
}
.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    font-size: 12px;
    padding: 20px;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.loader{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 8px solid #8d8d8d;
    border-radius: 50%;
    border-top:  8px solid rgba(54, 54, 222, 0.943);
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#closeIcon{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}