* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
main {
  background: hsl(233, 47%, 7%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-preview-card {
  display: flex;
  background: hsl(244, 38%, 16%);
  border-radius: 5px;
  width: 80%;
  height: fit-content;
}
.stats-preview-card article,
.stats-preview-card figure {
  flex: 1;
}
.stats-preview-card article {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.stats-preview-card article h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 10px;
}
.stats-preview-card article h1 span {
  color: hsl(277, 64%, 61%);
}
.stats-preview-card article > p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 10px;
  font-size: 1rem;
  padding-right: 60px;
}
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  text-transform: uppercase;
  width: 80%;
}
.stat-box {
}
.stat-box h3 {
  color: hsla(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 3px;
}
.stat-box p {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.7rem;
  font-family: "Lexend Deca", sans-serif;
}
.team-image {
  width: 50%;
  height: 350px;
  position: relative;
}
.team-image__overlay {
  background-color: hsl(277, 64%, 61%, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
}
.team-image img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
