  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.navbar 
{
    background-color: rgba(0, 0, 0, 0.881);
    color:#fff;
}
.caption
{
    font-weight: bolder;
text-align: center;
}
#logo1
{
    width:100%
}
.apple-content
{
        position: absolute;
        top: 130%;
        right: 30%;
        font-family: 'Inter', sans-serif;
        font-size: 25px;
        color: #fff;
}
.iphone14_pro
{
    position: absolute;
    top: 50%
    left: 204px;
color:yellow;  
}

#14pro{
top:50%;
}
.box1
{
    display:flex;
    flex-direction:row;
    flex:auto;
    
}
.tradein
{
    margin-left: 10px;
}

.watch
{
margin-left: 10px;

}
.box2
{
    display:flex;
    flex-direction:row;
    flex:auto;
    
}
.tradein
{
    margin-left: 10px;
}

.watch
{
margin-left: 10px;

}
.box3
{
    display:flex;
    flex-direction:row;
    flex:auto;
    
}
.tradein
{
    margin-left: 10px;
}

.watch
{
margin-left: 10px;

}
.carousel-inner img {
    filter: saturate(30%);
    -webkit-filter: grayscale(90%);
    filter: grayscale(9%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
  
  }
  .carousel-caption h3 {
    color: #fff !important;
  }
  .footer-description
  {
    background: #534f4f31;
    margin: 10px;
  }

